# ----------------------------------------------------
# Description:
# This is a config file for the ubiquity_installer.sh
# ubiquity_installer.sh -s update-ymls -c <this file path> will replace
# all the values from this file to the relevant ymls.
#
# Attention:
#    Once you run the ubiquity_installer.sh, all ymls already updated,
#    so in case you want to change something please do so directly on the relevant yml file.
# ----------------------------------------------------

# Parameters in ubiquity-configmap.yml
#-------------------------------------
# SCBE server IP or FQDN.
SCBE_MANAGEMENT_IP_VALUE=VALUE

# SCBE server port. Optional parameter. Default is 8440.
SCBE_MANAGEMENT_PORT_VALUE=8440

# SCBE storage service to be used by default, if not specified by the plugin.
SCBE_DEFAULT_SERVICE_VALUE=VALUE

# A prefix for any new volume created on the storage system. Default is none.
UBIQUITY_INSTANCE_NAME_VALUE=VALUE

# Optional parameter. Default is ext4. Possible values are ext4 or xfs.
DEFAULT_FSTYPE_VALUE=ext4

# Values : debug / info / error
LOG_LEVEL_VALUE=info

# Values : require/verify-full. Note if verify-full defined then you must provide relevant certificates.
SSL_MODE_VALUE=VALUE

# Values: true or false. Choose true if the nodes have only FC connectivity.
SKIP_RESCAN_ISCSI_VALUE=VALUE

# Parameters in scbe-credentials.yml
#-------------------------------------
# User name and password defined for SCBE Ubiquity interface
SCBE_USERNAME_VALUE=VALUE
SCBE_PASSWORD_VALUE=VALUE

# Parameters in ubiquity-db-credentials.yml
#-------------------------------------
# User name and password to set on the ubiquity-db deployment. Do not set it to postgres user name since its already exist.
UBIQUITY_DB_USERNAME_VALUE=ubiquity
UBIQUITY_DB_PASSWORD_VALUE=ubiquity

# Parameters in yamls/storage-class.yml, ubiquiyt-db-pvc.yml, sanity_yamls/sanity-pvc.yml
#-------------------------------------
# The first storage class to create and it will be used by ubiquity-db-pvc.yml
STORAGE_CLASS_NAME_VALUE=VALUE
STORAGE_CLASS_PROFILE_VALUE=VALUE
STORAGE_CLASS_FSTYPE_VALUE=ext4
