kind: Pod
apiVersion: v1
metadata:
  name: write-pod-test
spec:
  containers:
  - name: write-pod
    image: midoblgsm/kubenode
    volumeMounts:
      - name: ubiquity-pvc
        mountPath: "/mnt"
  restartPolicy: "Never"
  volumes:
    - name: ubiquity-pvc
      persistentVolumeClaim:
        claimName: ubiquity-claim-fileset